.colon-center{
    margin: 0 5px;
}
.form-field-allign{    
display: flex;
margin: 0 10px;
min-width: 500px;
margin-top: 10px;
}

.search-button{
    top: 56px;
    position: absolute;
    right: 100px;
}
.search-form{
    display: flex;
    flex-wrap: wrap;
}

.label{
    width: 150px!important;
}

.delivery-order{
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.colon-center{
    margin-left: 150px;
    margin-right: 20px;
}

.mat-flat-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary {
    background-color: #b73a3a;
  }
  .mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    color: #b73a3a;
}