
<div class="delivery-order">
    <mat-card>
        <mat-card-content>
            <h5>Truck Planning List</h5>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-6" style="display:contents;">
                        <label>
                            <span>Dispatch Date</span>
                            <span class="colon-center">:</span>
                            <input type="date" style="width:163px;"  [(ngModel)]="dispatchDate" name="dispatchDate">
    
                        </label>
                    </div>
                    <div class="col-md-6" style="display:contents;">
                        <label>
                            <span> Vendor Code </span>
                            <span class="colon-center" style="margin-left: 7px">:</span>
                            <select class="form-select form-select-lg mb-3" [(ngModel)]="vendorCode"
                                style="height: 25px;" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
    
                        </label>
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <label>
                        <span> Total Weight </span>
                        <span class="colon-center">:</span>
                        <input type="text" style="width:163px;"  [(ngModel)]="totalWeight" name="totalWeight">
                        <span style="margin-left: 10px;"><b>KG</b></span>
                    </label>
                </div>
                <div class="col-md-4">
                    <span *ngIf="!modifyPlanning"><button mat-raised-button color="primary" (click) = "truckPlanning()"
                        >Truck Planning</button></span>
                        <span *ngIf="modifyPlanning"><button mat-raised-button color="primary" (click) = "saveModify()"
                            >Save</button>
                       </span>
                       <span style="margin-left: 20px;"> <button mat-raised-button color="primary" (click) = "closeButton()"
                        >Close</button></span>
                </div>
            </div>

        </mat-card-content>
    </mat-card>
</div>
<div class="delivery-order">

<div>
    <div class="example-container mat-elevation-z8">
        <mat-card >
     
     <mat-card-content [ngClass]="modifyPlanning ? 'col-md-11':'col-md-12'">
        <p>Selected Orders for Truck Planning</p>
        <mat-card>
            <mat-table #table [dataSource]="dataSource">

                <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="position">
                    <mat-header-cell *matHeaderCellDef>Sr.No. </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
                </ng-container>

                <!-- Delivery Date  Column -->
                <ng-container matColumnDef="deliverydate">
                    <mat-header-cell *matHeaderCellDef> Delivery Date </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.deliverydate}} </mat-cell>
                </ng-container>

                <!-- Order No Column -->
                <ng-container matColumnDef="orderno">
                    <mat-header-cell *matHeaderCellDef> Order No </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.orderno}} </mat-cell>
                </ng-container>

                <!-- Vendor Code Column -->
                <ng-container matColumnDef="vendorcode">
                    <mat-header-cell *matHeaderCellDef> Vendor Code </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.vendorcode}} </mat-cell>
                </ng-container>

                <!-- Vendor Name Column -->
                <ng-container matColumnDef="vendorname">
                    <mat-header-cell *matHeaderCellDef> Vendor Name </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.vendorname}} </mat-cell>
                </ng-container>

                <!--Route Column -->
                <ng-container matColumnDef="route">
                    <mat-header-cell *matHeaderCellDef> Route </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.route}} </mat-cell>
                </ng-container>

                <!--Transporter Column -->
                <ng-container matColumnDef="transporter">
                    <mat-header-cell *matHeaderCellDef> Transporter </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.transporter}} </mat-cell>
                </ng-container>

                <!--Status Column -->
                <ng-container matColumnDef="status">
                    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
                </ng-container>

                <!--DOQTY Column -->
                <ng-container matColumnDef="doqty">
                    <mat-header-cell *matHeaderCellDef> DOQTY </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.doqty}} </mat-cell>
                </ng-container>

                <!--DIQTY Column -->
                <ng-container matColumnDef="diqty">
                    <mat-header-cell *matHeaderCellDef> DIQTY </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.diqty}} </mat-cell>
                </ng-container>

                <!--BALQTY Column -->
                <ng-container matColumnDef="balqty">
                    <mat-header-cell *matHeaderCellDef> BALQTY </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.balqty}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                            (click)="selectedList(element)">select</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card>
      
        </mat-card-content>
        <mat-card-content *ngIf="modifyPlanning">
            <app-truck-planning></app-truck-planning>
        </mat-card-content>

        </mat-card>
   
     

    </div>
    </div>


 </div>   

 

