
<!-- <div class="delivery-order">
    <mat-card>
        <mat-card-content>
            <h5>Truck Planning Modify</h5>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <div class="col-md-6" style="display:contents;">
                        <label>
                            <span>Dispatch Date</span>
                            <span class="colon-center">:</span>
                            <input type="date" style="width:163px;" [(ngModel)]="dispatchDate" name="dispatchDate">

                        </label>
                    </div>
                    <div class="col-md-6" style="display:contents;">
                        <label>
                            <span> Vendor Code </span>
                            <span class="colon-center" style="margin-left: 7px">:</span>
                            <select class="form-select form-select-lg mb-3" [(ngModel)]="vendorCode"
                                style="height: 25px;" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>

                        </label>
                    </div>

                </div>
                <div class="col-md-4">
                    <label>
                        <span> Total Weight </span>
                        <span class="colon-center">:</span>
                        <input type="text" style="width:163px;" [(ngModel)]="totalWeight" name="totalWeight" appTwoDigitDecimaNumber>
                        <span style="margin-left: 10px;"><b>KG</b></span>
                    </label>
                </div>
                <div class="col-md-4">
                    <span><button mat-raised-button color="primary">Save</button>
                    </span>
                    <span style="margin-left: 20px;"> <button mat-raised-button color="primary">Close</button></span>
                </div>
             

            </div>

        </mat-card-content>
    </mat-card>
</div> -->

            <div style="display: flex;">
            
                <div class="col-md-3 vl">
                    <mat-card style="font-size: 11px;">
                    <div class="col-md-12" style="display:contents;">
                        <label>
                            <span> Dispatch Order No </span>
                            <span class="colon-center-small" style="margin-left: 7px">:</span>
                            <select class="form-select form-select-lg mb-3" [(ngModel)]="planningDispatchOrderNo"
                                style="height: 25px;" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">234</option>
                                <option value="2">876</option>
                                <option value="3">344</option>
                            </select>

                        </label>
                    </div>
                    <div class="col-md-12" style="display:contents;">
                        <label>
                            <span> Line Item No</span>
                            <span class="colon-center-small" style="margin-left: 39px">:</span>
                            <select class="form-select form-select-lg mb-3" [(ngModel)]="planningLineItemNo"
                                style="height: 25px;" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">1</option>
                                <option value="2">234</option>
                                <option value="3">456</option>
                            </select>

                        </label>
                    </div>
                    <div class="col-md-12" style="display:contents;">
                        <label>
                            <span>Transportation By</span>
                            <span class="colon-center-small" style="margin-left: 16px">:</span>
                            <select class="form-select form-select-lg mb-3" [(ngModel)]="planningTransportationBy"
                                style="height: 25px;" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="train">Train</option>
                                <option value="truck">Truck</option>
                                <option value="other">Other</option>
                            </select>

                        </label>
                    </div>
                    <div class="col-md-12" style="display:contents;">
                        <label>
                            <span> Transporter Code </span>
                            <span class="colon-center-small" style="margin-left: 14px">:</span>
                            <select class="form-select form-select-lg mb-3" [(ngModel)]="plannningTransporterCode"
                                style="height: 25px;" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">ABC</option>
                                <option value="2">EFG</option>
                                <option value="3">HIJ</option>
                            </select>

                        </label>
                    </div>
                    <div class="col-md-12" style="display:contents;">
                        <label>
                            <span> Truck Capacity </span>
                            <span class="colon-center-small" style="margin-left: 26px">:</span>
                            <select class="form-select form-select-lg mb-3" [(ngModel)]="planningTruckCapacity"
                                style="height: 25px;" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="5">5MT</option>
                                <option value="10">10MT</option>
                                <option value="15">15MT</option>
                            </select>

                        </label>
                    </div>
                    <div class="col-md-12" style="display:contents;">
                        <label>
                            <span> Truck Qty </span>
                            <span class="colon-center-small" style="margin-left:52px">:</span>
                            <select class="form-select form-select-lg mb-3" [(ngModel)]="planningTruckQty"
                                style="height: 25px;" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>

                        </label>
                        <div>
                            <span style="margin-left: 90px;"> <button mat-raised-button color="primary" (click) ="displayMenuList()"
                            >Select</button></span>
                        </div>
                    </div>
                    
                </mat-card>

                </div>
                <div *ngIf="displayMenu" class="col-md-1 arrow-right" style="flex: 0 0 1%;max-width: 1%;">
                </div>
                <div class="col-md-7" style="flex: 0 0 63%;max-width:63%">
                   
                    <mat-card-content>
                        <div *ngIf="displayMenu" class="example-container mat-elevation-z8">
                            
                            <mat-table #table [dataSource]="truckSource">
        
                                <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
        
                                <!-- Position Column -->
                                <ng-container matColumnDef="vrTrNo">
                                    <mat-header-cell *matHeaderCellDef>VrTr.No. </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.vrTrNo}} </mat-cell>
                                </ng-container>
        
                                <!-- Delivery Date  Column -->
                                <ng-container matColumnDef="dispatchDate">
                                    <mat-header-cell *matHeaderCellDef>Dispatch Dt.</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.dispatchDate}} </mat-cell>
                                </ng-container>
        
                                <!-- Order No Column -->
                                <ng-container matColumnDef="vendorname">
                                    <mat-header-cell *matHeaderCellDef>Vendor</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.vendorname}} </mat-cell>
                                </ng-container>
        
                                <!-- Vendor Code Column -->
                                <ng-container matColumnDef="orderno">
                                    <mat-header-cell *matHeaderCellDef>Ord No.</mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.orderno}} </mat-cell>
                                </ng-container>
        
                                <!-- Vendor Name Column -->
                                <ng-container matColumnDef="lineItem">
                                    <mat-header-cell *matHeaderCellDef>Line Item </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.lineItem}} </mat-cell>
                                </ng-container>
        
                                <!--Route Column -->
                                <ng-container matColumnDef="transMedium">
                                    <mat-header-cell *matHeaderCellDef> TransMedium </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.transMedium}} </mat-cell>
                                </ng-container>
        
                                <!--Transporter Column -->
                                <ng-container matColumnDef="transporter">
                                    <mat-header-cell *matHeaderCellDef> Transporter </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.transporter}} </mat-cell>
                                </ng-container>
        
                                <!--Status Column -->
                                <ng-container matColumnDef="truckCapacity">
                                    <mat-header-cell *matHeaderCellDef> Truck Capacity </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> {{element.truckCapacity}} </mat-cell>
                                </ng-container>
        
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                                    <mat-cell *matCellDef="let element"> <button mat-raised-button color="primary"
                                            (click)="getRowData(element)">select</button>
                                    </mat-cell>
                                </ng-container>
        
                                <mat-header-row *matHeaderRowDef="truckDetailsColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: truckDetailsColumns;"></mat-row>
                       
                    </mat-table>
                </div>
            
            </mat-card-content>

                </div>
                <div class="col-md-1">
                  
                <div class="hl">
                    <span>000</span>
                </div>
                <span style="font-size: small;">Total Trucks</span>
               
                </div>
            </div>
          

            <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
   